body{
    background-image: url("/tree.jpg/images.jpg");
    background-position: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    

}
h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
    margin-right: 1000px;
}
.td{
    display: flex;
    text-decoration: none;
    margin-left: 00px;
    margin-top: 0px;
    padding-bottom: 00px;
    margin-right: 00px;

}
.td{
    display: flex;
    text-decoration: none;
    color: white; 
margin: 00px 00pxp;
padding-left: 100px;
padding-right: 00px;
margin-top: 5px;
margin-right: 00px;
}
 li :hover{
    color:gold;
}
li a{
    text-decoration: none;
    color: white;
}
.button{
    color: black;
    background-color: white;
    border-radius: 10px;

}

.src{
    height: 25px;
    border-radius: 10px;
    background-color: white;
}
.p{
    color: white;
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 00px;
}
.login{
    text-decoration: none;
    margin-left: 80px;
    background-color: orange;
    height: 40px;
    width: 120px;
    border-radius: 20px;
}
div.login:hover{
    text-decoration: none;
    background-color: white;
}
.form{
    color: white;
    width: 250px;
    height: 380px;
    background:linear-gradient(to top, rgba(0,0,0,0,8) ,rgba(0,0,0,0,8)) ;
    position: absolute;
    top: 60px;
    left:570px ;
    border-radius: 10px;
    padding: 25px;
    

}
a.first{
    padding-bottom: 00px;
    background-color: transparent;
}
.submit{
    margin-left: 50px;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background-color: orange;
}
input{
    background-color: transparent;
}
.res{
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10px;
}
.submit:hover{
background-color: white;
}
.loin.log{
    text-decoration: none;
}
@media only screen and (max-width:900px){
.td{
    display: block;
    flex-direction: column;
    text-align: center;
    margin-left: -100px;
    padding-top: 20px;
}
.form{
    flex-direction:row-reverse;
    text-align: left;
    margin-left: -450px;
    margin-top: 900px;
    color: black;
}
.button{
    height: 30px;
}
}
@media only screen and (max-width:242px){
    .form{
        margin-top: 600px;
    }
}